<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
 <% @ratings.each do |rating|%>
   <li> <%= @beers.find_by(id:rating.beer_id).name %> <%= rating.to_s %> <%= link_to 'Delete', rating_path(rating.id), method: :delete, data: { confirm: 'Delete rating?' }%></li>
 <% end %>
</ul>

<p><%=link_to 'New rating', new_rating_path %></p>
