<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
 <% @ratings.each do |rating|%>
   <li> <%= @beers.find_by(id:rating.beer_id).name %> <%= rating.to_s %> <%= link_to User.find_by(id:rating.user_id).username, user_path(User.find_by(id:rating.user_id))%></li>
 <% end %>
</ul>

<p><%=link_to 'New rating', new_rating_path %></p>
