<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<strong> Beers of this style include: </strong>
<p>
  <% @style.beers.each do |beer| %>
  <ul>
    <li> <%= beer.name %> </li>
  </ul>
  <% end %>
</p>

<%= edit_and_destroy_buttons(@style) %>
