<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %>
<% if not @brewery.active  %>
      <span class="label label-info">retired</span>
  <% end %>
</h2>

<p>
  <i>Established in <%= @brewery.year %> </i>
</p>

<p> Number of beers: <%= @brewery.beers.count %> </p>
<% if @brewery.ratings.empty? %>
<p> Brewery has not yet been rated! </p>
<% else %>
<p> Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= @brewery.average_rating %>. </p>
<% end %>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
<br> <br>
<%= link_to 'ALL the beers! \o/', beers_path %> |
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
