<p id="notice"><%= notice %></p>

<h2><%= @place.name %></h2>

<strong> Address: </strong> <%= "#{@place.street}, #{@place.city}, #{@place.country}" %>
<br> <br>
<strong> Status: </strong> <%= @place.status %>
<br> <br>
<iframe src="<%=@place.blogmap%>" width="400" height="400"></iframe>
